* {
	box-sizing: border-box;
}

body {
	font-family: 'Share Tech Mono', monospace;
	margin: 0;
	font-size: 20px;
}

a {
	color: inherit;
	text-decoration: none;
}

h1 {

}

h2 {

}

button {
	font-family: inherit;
	font-size: inherit;
}

input {

}

.header {
	padding: 10px;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header button {
	font-size: 16px;
	color: black;
	border-color: black;
}

.logo-icon {
	transform: rotate(90deg);
	vertical-align: bottom;
}

.main-container {
	display: flex;
	flex-flow: column wrap;
}

.theme-container {
	flex: 1 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	padding: 20px;
	overflow: hidden;
}

.item {
	margin: 10px;
}

pre {
	border: 2px solid white;
	border-radius: 2px;
	padding: 20px;
}

.footer {
	text-align: center;
	padding: 20px;
}
